/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*animated nav bar start*/
nav.main-nav {
    background:#fff;
    height:60px;
    border-bottom:1px solid #dadada;
    text-align: center;
}

nav.main-nav a {
    font-family:'Lato',sans-serif;
    font-size:20px;
    text-decoration:none;
    display:inline-block;
    padding:15px 19px;
    color:#27ae60;
}

.container {
    display: inline;
    margin:0 auto;
}

nav.main-nav.stickytop {
    position:fixed;
    top:0
}
.content {
    color:#222;
    padding:50px;
    -webkit-column-count:3;
/* Chrome, Safari, Opera */
    -moz-column-count:3;
/* Firefox */
    column-count:3;
    -webkit-column-gap:40;
    column-gap:40px;
}

.content h2 {
    margin:0;
}
/*nav media queries*/
@media all and (min-width: 360px) and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:55px;
    }

    .container {
        margin:0 auto;
        width:50%;

    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:55px;
    }

    .container {
        width:92%;
    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1
    }
}
/*nav media queries end*/
/*animated nav bar stop*/
.home_div{
  height: 100vh;
  background-image: url(../images/laptop4.jpg);
  background-size: cover;
  text-align: center;
}
.intro h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: 900;
  text-transform: uppercase;
}
.intro h5 {
  font-family: 'Slabo 27px', serif;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 10px;
  color: #333333;
  display: inline-block;
  font-size: 1.2rem;
}
.social i {
  margin-top: 5px;
  color: white;
  padding: 10px;
}
.Skills{
  height: 100vh;

}
.Icons_div{
  height: 100vh;
  /*background-color:#FF0000;*/
}
.circle {
   width: 150px;
  height: 150px;
  /*margin:30px;*/
  background: red;
  -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
 }


.skills_description{
  height: 100vh;
  background-color:#5a53e7;
}

.Contact_div{
  height: 100vh;
  background-color: #22FAFF;
}
.Projects_intro{
  height: 100vh;
  background-color: #c4dfd7;
}
.Project1_div{
  height: 100vh;
  /*width: 650px;*/
  border: 5px solid black;
  /*background-color: #8c76ee;*/
}
.Project2_div{
  height: 100vh;
  /*width: 650px;*/
  border: 5px solid black;
  /*background-color: #27e235;*/
}
.Project3_div{
  height: 100vh;
  /*background-color: #0a0b0b;*/
}
.Project4_div{
  height: 100vh;
  /*background-color: #17b109;*/
}
