/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*header{
      text-align: center;

      font-size: 72px;
      line-height: 108px;
      height: 108px;
      background: #335C7D;
      color: #fff;
      font-family: 'PT Sans', sans-serif;

      // set animation
      -webkit-transition: all 0.9s ease;
      transition: all 0.9s ease;
  }

  header.sticky {
      position: fixed;
      font-size: 24px;
      line-height: 48px;
      height: 48px;
      width: 100%;
      background: #efc47D;
      text-align: center;
      padding-left: 20px;
  }*/
  /*animate header stop*/
.home_div{
  height: 100vh;
  background-image: url(../images/laptop4.jpg);
  background-size: cover;
  text-align: center;
}
.intro h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: 900;
  text-transform: uppercase;
}
.intro h5 {
  font-family: 'Slabo 27px', serif;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 10px;
  color: #333333;
  display: inline-block;
  font-size: 1.2rem;
}
.social i {
  margin-top: 5px;
  color: white;
  padding: 10px;
}
.Skills_div{
  height: 100vh;
  background-color:#FF0000;
}
.Projects_div{
  height: 100vh;
  background-color: #E89C0C;
}
.Contact_div{
  height: 100vh;
  background-color: #22FAFF;
}
