/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*animated nav bar start*/
nav.main-nav {

    background-color: rgba(255,255,255,0.5);
    height:60px;
    border-bottom:1px solid #dadada;
    text-align: center;
    /*z-index: 150px;*/
}

nav.main-nav a {
    font-family:'Roboto', sans-serif;
    font-size:1.5rem;
    text-decoration:none;
    display:inline-block;
    padding:15px 39px;
    color:#27ae60;
    /*z-index: 150px;*/
}

.container {
    display: inline;
    margin:0 auto;
}

nav.main-nav.stickytop {
    position:fixed;
    top:0;
    z-index:30;
}
.content {
    color:#222;
    padding:50px;
    -webkit-column-count:3;
/* Chrome, Safari, Opera */
    -moz-column-count:3;
/* Firefox */
    column-count:3;
    -webkit-column-gap:40;
    column-gap:40px;
}

.content h2 {
    margin:0;
}
/*nav media queries*/
@media all and (min-width: 360px) and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:55px;
    }

    .container {
        margin:0 auto;
        width:50%;

    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
        height:55px;
    }

    .container {
        width:92%;
    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1
    }
}
/*nav media queries end*/
/*animated nav bar stop*/
.home_div{
  height: 100vh;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
        rgba(12, 12, 13, 0.64),
      rgba(12, 12, 13, 0.64)

    ),
    /* bottom, image */
    url(../images/desktop.jpg);

  background-size: cover;
  text-align: center;
  margin: 0;
}
.intro_main{

  height: 100vh;
  margin: 0;
}
.intro_block{

  height: 100vh;
  margin: 0;
}
.intro{
  padding-top: 100px;
}
.my_name h1 {
  font-family: 'Inconsolata','Roboto', sans-serif;

  color: white;
  font-size: 2rem;
  padding-top: 50px;
}
.my_development h5 {
  font-family: 'Inconsolata','Roboto', sans-serif;

  color: white;

  padding-top: 30px;

  display: inline-block;
  font-size: 3rem;
}
.description{
  padding-top: 30px;
}
.description p{
  font-family: 'Inconsolata','Roboto', sans-serif;

  color: white;
}
.social{
  padding-top: 30px;
}
.social i {
  /*margin-top: 5px;*/
  color:rgb(147, 0, 131);
  margin: 10px;
}
.down_arrow{
  padding-top: 50px;
}
/*start of skills divs*/
.Skills{
  height: 100vh;
  /*background-color:#5a53e7;*/
  margin: 0;

}
.skills_icons{
  border: 5px solid black;
  height: 100vh;
}
.my_image{
  padding-top: 20px;
padding-left: 250px;
}
.my_image_div{
  width: 150px;
  height: 150px;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),
  /* bottom, image */
  url(../images/my_photo.jpg);
  background-size: cover;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75spx;

}


.skills_description{
  height: 70vh;
  /*background-color: rgb(51, 83, 249);*/
  margin:0;
}

.paragraph_about_me{
  font-family: 'Inconsolata','Roboto', sans-serif;
  color: rgb(11, 11, 11);
}
.about_me_title{
  padding-top: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.my_skills_title{
  padding-top: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}
hr{
  width: 60%;
}
.Html{
  width: 50px;
  height: 50px;
  background:url(../images/html5.png);
  background-size: cover;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25spx;

}
/*bend of skills segment*/


/*start of projects div*/
.portfolio{
  height: 90vh;
  /*border: 5px black solid;*/
  margin-bottom: 2px;

}
.android_projects{
  height: 50vh;
  /*border: 5px solid black;*/
  margin: 0;

}
.web_projects{
  height: 40vh;
  /*border: 5px solid black;*/
  margin: 0;

}
.portfolio h5 {
  text-align: center;
  text-transform: uppercase;
  margin:0;
  font-family: 'Slabo 27px', serif;
  text-transform: uppercase;


  font-size: 1.2rem;
}
.portfolio h6 {
  text-align: center;
  text-transform: uppercase;
  margin:0;
}
/*zooming effect class*/
.zoomimg {
    display: inline-block;
    width: 250px;
    height: 375px;
    padding: 0px 5px 0px 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.9s ease;
}

/*zooming effect class end*/
.android1{
  background-color: rgb(78, 43, 167);
  height: 50vh;
  text-align: center;
}
.android1:hover{
cursor: pointer;
background-size: 150% 150%;
background-image: url(../images/laptop4.jpg);
}
.android1_explanation{
  height: 100vh;
  background-color: rgb(49, 77, 252);
}

.android2{
  background-color: rgb(238, 71, 10);
  height: 50vh;
  text-align: center;
}
.android2:hover{
  background-image: url(../images/laptop4.jpg);
  cursor: pointer;
  background-size: 150% 150%;
}
.web1{
  background-color: rgb(6, 6, 4);
  height: 40vh;
  text-align: center;
}
.web1:hover{
  background-image: url(../images/laptop4.jpg);
  cursor: pointer;
  background-size: 150% 150%;
}
.web2{
  background-color:rgb(251, 248, 247);
  height: 40vh;
  text-align: center;
}
.web2:hover{
  background-image: url(../images/laptop4.jpg);
  cursor: pointer;
  background-size: 150% 150%;
}
.web3{
  background-color: rgb(87, 165, 209);
  height: 40vh;
  text-align: center;
}
.web3:hover{
  background-image: url(../images/laptop4.jpg);
  cursor: pointer;
  background-size: 150% 150%;
}
.web_projects h1{
  padding-top: 30%;
}
.android_projects h1{
  padding-top: 20%;
}
/*end of projects div*/
/*start of slide in div*/

#Android1Slide {
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow:hidden;
    display: none;
    z-index: 40;
}

#Android2Slide {
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: none;
    z-index: 40;
}
#Web1Slide {
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: none;
    z-index: 40;
}
#Web2Slide {
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: none;
    z-index: 40;
}
#Web3Slide{
    background-color: red;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: none;
    z-index: 40;
}
/*end of slide in div*/
/*start of contact segment*/


.contact_form{
  height: 100vh;
  /*background-color: rgb(25, 102, 235);*/
  /*border: 5px solid black;*/
}
.contact_title{
  /*border: 2px solid black;*/
  padding-top:20px;
}
.contact_title_text{
  text-align: center;
}
.contact_title_text p{
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
}
.thankyou_text{
  text-align: center;

}
.thankyou_text p{
    font-family: 'Inconsolata','Roboto', sans-serif;
    font-size: 1rem;
}

/*end of contact segment*/
/*start of footer*/
footer{
  margin: 0;
}
.footer{
  height: 30vh;
  background-color: rgb(36, 36, 35);
  margin: 0;
}
.footer_text{

  text-align: center;
}
.footer_text p{
    font-family: 'Roboto', sans-serif;
  color: white;
}
.footer_text h1{
    font-family:'Roboto', sans-serif;
  color: white;
}
/*end of footer*/
