/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 
}
.body{
	margin: o;
	padding: 0;
}

.row{
  margin: 0 !important;
}
/* HTML5 display-role reset for older browsers */

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}*/
.my_projects_row{
	margin: 0;
	height: 100vh;
	border:2px black solid;
}
/*back home section*/
.back_home_button{
	height: 100vh;
	margin: 0;
	width: 100%;
	background-color: aqua;
	
}
.back_home_button:hover{
	background-color:  darkred;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.back_home_image{
	/*position: absolute;*/
	background-image: url(../images/back_arrow.png);
	background-size: cover;
	background-color:  aqua;
	height: 20vh;
	width: 100%;
	
	margin-top: 300%;
}
/*back home section end*/
/*projects section start*/
.projects_section{
	height: 100vh;
	background:
	linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/portfolioback.png);
	background-size: cover;
	/*border:3px solid black;*/
	/*background-color:  green;*/
}
.projects_heading{
	margin: 0;
	height: 10vh;
	width: 100%;
	/*border:2px black solid;*/
	text-align:  center;
	padding-top: 10px;
}
.projects_heading h3{
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform:  uppercase;
	color:  cyan;
}
.web_projects{
	width: 100%;
	margin: 0;
	height: 45vh;
	/*background-color:  lime;*/
}
.android_projects{
	width: 100%;
	height: 40vh;
	
}
.bythehills{
	height: 100%;
	background:  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/hotel_port.jpg);
  background-size: cover;
	/*margin-left: 5px;*/
	/*border:3px solid black;*/
}
.blackbird{
	height: 100%;
	background:  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/model3.jpg);
  background-size: cover;
	/*margin-right: 5px;*/
	/*border:3px solid black;*/
}
.dishi{
	height: 100%;
	background:  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),url(../images/chef_port.jpg);
  background-size: cover;
	/*border:3px solid black;*/
}
.dishi{
	/*margin-top: 2px;*/
	width: 100%;
	/*position: absolute;*/
}
/*---------------*/
/***** byThehills *****/
/*---------------*/

.effect-hills{
	height: 100%;
	width: 100%;
}



figure.effect-hills figcaption {
	padding: 3em;
	width: 100%;
	height: 100%;
	
}



figure.effect-hills h2 {
	
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color:  aqua;
	padding-top: 15px;
	padding-left: 40px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-hills figcaption::before,
figure.effect-hills p {
	font-family: 'Inconsolata','Roboto', sans-serif;
	color:  aqua;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-hills:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-hills:hover figcaption::before,
figure.effect-hills:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-hills:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-hills:hover img {
	opacity: 0.4;
}
/*---------------*/
/***** Blackbird*****/
/*---------------*/

.effect-blackbird{
	height: 100%;
	width: 100%;
}



figure.effect-blackbird figcaption {
	padding: 3em;
	width: 100%;
	height: 100%;
	
}
figure.effect-blackbird h2 {
	
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color:  aqua;
	padding-top: 0px;
	padding-left: 60px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-blackbird figcaption::before,
figure.effect-blackbird p {
	font-family: 'Inconsolata','Roboto', sans-serif;
	color:  aqua;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-blackbird:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-blackbird:hover figcaption::before,
figure.effect-blackbird:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-blackbird:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-blackbird:hover img {
	opacity: 0.4;
}
/*---------------*/
/***** dishi *****/
/*---------------*/

.effect-dishi{
	height: 100%;
	width: 100%;
}



figure.effect-dishi figcaption {
	padding: 3em;
	width: 100%;
	height: 100%;
	
}



figure.effect-dishi h2 {
	
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color:  aqua;
	padding-top: 25px;
	padding-left: 60px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-dishi figcaption::before,
figure.effect-dishi p {
	font-family: 'Inconsolata','Roboto', sans-serif;
	color:  aqua;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-dishi:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-dishi:hover figcaption::before,
figure.effect-dishi:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-dishi:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-dishi:hover img {
	opacity: 0.4;
}
/*start of footer*/
footer{
  margin: 0;
}
.footer{
  height: 30vh;
  background-color: rgb(36, 36, 35);
  margin: 0;
  margin-bottom: 0;
}
.footer_text{

  text-align: center;
}
.footer_text p{
    font-family: 'Roboto', sans-serif;
  color: white;
}
.footer_text h1{
    font-family:'Roboto', sans-serif;
  color: white;
}
/*end of footer*/
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/balls.gif) center no-repeat #fff;
}
/*preloader stop*/